body {
    font-family: "Century Gothic", sans-serif;
  }
  
  .form-group {
    position: relative;
  }
  
  .custom-input {
    border: 0;
    border-bottom: 1px solid #b9b9b9;
  }
  
  .custom-input:focus {
    outline: none;
    box-shadow: none;
  }
  
  .list-group-item {
    cursor: pointer;
  }