* {
    margin: 0;
}

html, 
body {
    height: 100%;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

#locations {
    background-color: #fff;
}
/* video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: auto;
    height: 100vh;
    background-position: center;
    background-size: cover;
    transform: translateX(-50%) translateY(-50%);
} */